<nav class="bottom-nav">
  <a href="/" class="nav-item">
    <img src="/images/home.png" alt="Home">
    <span>Home</span>
  </a>

  <a href="/events" class="nav-item">
    <img src="/images/events.png" alt="Events">
    <span>Events</span>
  </a>

  <a href="/login" class="nav-item main-item">
    <img src="/images/login.png" alt="Login">
    <span>Login</span>
  </a>

  <a href="/signup" class="nav-item">
    <img src="/images/signup.png" alt="Signup">
    <span>Signup</span>
  </a>
</nav>