<nav class="bottom-nav">
  <a href="/map" class="nav-item">
    <img src="/img/map.png" alt="Map">
  </a>

  <a href="/events" class="nav-item">
    <img src="/img/ticket.png" alt="Events">
  </a>

  <a href="/" class="nav-item">
    <img src="/img/post.png" alt="Home">
  </a>

  <a href="/login" class="nav-item">
    <img src="/img/user.png" alt="Login">
  </a>
</nav>