<link rel="stylesheet" href="/css/style.css">

<div class="container">
  <h1>Welcome</h1>

  <form method="get" action="/signup">
    <button>Sign Up</button>
  </form>

  <form method="get" action="/login">
    <button>Log In</button>
  </form>
</div>
