<link rel="stylesheet" href="/css/style.css" />

<div class="container">
  <h1>Hello, <%= username %></h1>

  <form method="get" action="/logout">
    <button>Log Out</button>
  </form>

  <form method="get" action="/post">
    <button>Make a Post</button>
  </form>

  <form method="get" action="/posts">
    <button>View All Posts</button>
  </form>
</div>
