<%- include("partials/header") %> 
    <div class="container-fluid position-relative px-0 min-vh-100">
        <button
        id="backBtn"
        class="btn position-absolute top-0 start-0 m-3 d-flex align-items-center px-3 py-2 rounded-pill shadow border-0">
            <img src="/img/back.png" class="back-arrow me-2">
            <span class="fw-semibold">Back</span>
        </button>    
            
        <div class="shade-card card shadow rounded-4 p-3 position-absolute start-0 end-0 m-3 border-0">
            <div class="card-body text-center">
                <h1 class="fw-bold">Shademap is unavailable</h1>
                <span class="text-muted fs-5 mb-0">please try again later</span>
            </div>
        </div>    
    </div>
<%- include("partials/footer") %> 