<!-- ONLY PARKS ARE ALLOWED IN SHADEMAP FOR NOW -->
<%- include("partials/header") %> 
<h1>SHADE MAP UNAVAILABLE</h1>
        
<form action="/shademap" method="post">
    <input type="text" name="lat" placeholder="latitude"/>
    <input type="text" name="lon" placeholder="longitude"/>
    <button>submit</button>
</form>
<%- include("partials/footer") %> 